* {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	/* margin-top: 0; */
	margin-bottom: 0;
}

@font-face {
	font-family: 'Montserrat-Black';
	src: url(../fonts/Montserrat-Black.ttf);
	font-style: normal;
	font-weight: normal;
 }

@font-face {
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat-Bold.ttf);
	font-style: normal;
	font-weight: normal;
 }

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url(../fonts/Montserrat-SemiBold.ttf);
	font-style: normal;
	font-weight: normal;
 }

 @font-face {
	font-family: 'Montserrat-Medium';
	src: url(../fonts/Montserrat-Medium.ttf);
	font-style: normal;
	font-weight: normal;
 }

@font-face {
	font-family: 'Montserrat-Regular';
	src: url(../fonts/Montserrat-Regular.ttf);
	font-style: normal;
	font-weight: normal;
 }

@font-face {
	font-family: 'Montserrat-Light';
	src: url(../fonts/Montserrat-Light.ttf);
	font-style: normal;
	font-weight: normal;
 }

body {
	color: #2A3B8D;
}

a {
	text-decoration: none;
	color: #2A3B8D;
}

/**************************** Navigation *************************/

nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 117px; /* 134px */
	max-width: 1278px;
	background-color: #EDEDED;
	margin: 0 auto;
	padding-bottom: 17px;
}

.logo {
	display: flex;
	justify-content: flex-end;
	width: 30%;
}

.menu_list {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	width: 40%;
}

.p_header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}

.p_header p {
	font-family: 'Montserrat-SemiBold';
	font-size: 20px;
}

.m_list {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Montserrat-Regular';
	font-size: 15px;
}

ul {
	display: flex;
}

li {
	display: inline;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px; /* padding-right: 30px; */
	list-style-type: none;
}

li:hover {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	/* border-bottom: 2px solid #2A3B8D; */
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.zakaz {
	display: flex;
	justify-content: flex-start;
	width: 30%;
}

.zakaz a {
	font-family: 'Montserrat-Light';
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
	background-color: #253D89;
	background-image: url(../img/zakaz_btn.png), url(../img/zakaz_arrow_right1.png);
	background-repeat: no-repeat;
	/* background-size: 30px; */
	/* background-position-x: 5px;
	background-position-y: 2px; */
	background-position: 4px 4px, 137px 10px;
	padding: 14px 30px;
	padding-left: 40px;
	padding-right: 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	/* border: 2px solid orange; */
}

/**************************** Header *************************/

header {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 570px;
	background-color: orange;
	max-width: 1278px;
	margin: 0 auto;
	padding-top: 50px;
	background-image: url(../img/laptop_on_table_2.jpg);
}

header h1 {
	font-family: 'Montserrat-SemiBold';
	font-size: 23px;
	line-height: 1.4;
	width: 600px;
	margin-left: 20%;
	margin-bottom: 0px;
}

header p {
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	width: 300px;
	margin-left: 20%;
	line-height: 1.6;
	margin-top: 10px;
}

header a {
	font-family: 'Montserrat-Light';
	font-size: 12px;
	color: #fff;
	letter-spacing: 1.2px;
	text-align: right;
	background-color: #BC0034;
	background-image: url(../img/zakaz_btn.png);
	background-repeat: no-repeat;
	/* background-size: 30px; */
	/* background-position-x: 5px;
	background-position-y: 2px; */
	background-position: 5px 6px;
	padding: 16px 20px;
	padding-left: 47px;
	padding-right: 12px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	margin-left: 20%;
	margin-top: 15px;
}

/**************************** About *************************/

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 600px;
	max-width: 1278px;
	margin: 0 auto;
	background-image: url(../img/about_backgroud2.png);
}

.about_block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	width: 636px;
	height: 486px;
	background-color: #fff;
	border-radius: 20px;
}

/* .about_block_header {
	height: 100px;
} */

.about_block_header h2 {
	font-family: 'Montserrat-SemiBold';
	font-size: 25px; /* 34px; */
	line-height: 1.4;
	text-transform: uppercase;
}

.about_block_text {
	height: 364px;
}

.about_block_text p {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	text-indent: 4%;
	/* letter-spacing: -0.25px;
	word-spacing: 10px; */
	line-height: 20px;
	text-align: justify;
	width: 480px;
}

.about_zakaz {
	height: 64px;
}

.about_zakaz a {
	font-family: 'Montserrat-Light';
	font-size: 12px;
	color: #fff;
	letter-spacing: 1.2px;
	text-align: right;
	background-color: #BC0034;
	background-image: url(../img/zakaz_btn.png);
	background-repeat: no-repeat;
	background-position: 5px 8px;
	padding: 16px 20px;
	padding-left: 47px;
	padding-right: 12px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	/* margin-top: 15px; */
}

/**************************** Services *************************/

/* .services_block_header {
	height: 100px;
} */

.services_block_header h2 {
	font-family: 'Montserrat-SemiBold';
	font-size: 34px;
	line-height: 1.4;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}

.translate_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 750px;
	margin: 0 auto;
}

.translate_card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 326px;
	height: 252px;
	background-color: #2E428D;
	border-radius: 20px;
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 35px;
	margin-bottom: 35px;
	background-image: url(../img/translate_card_bg.png);
	background-position: -113px -94px; /* (117) */
	background-repeat: no-repeat;
}

.tc_text {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
}

.tc_text p {
	font-family: 'Montserrat-Regular';
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	width: 222px; /* 100px 170px */
	margin-left: 15px;
	margin-bottom: 10px;
}

.tc_btn {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.tc_btn a {
	font-family: 'Montserrat-Light';
	font-size: 12px;
	color: #fff;
	letter-spacing: 1.2px;
	text-align: right;
	background-color: #BC0034;
	background-image: url(../img/zakaz_btn.png);
	background-repeat: no-repeat;
	background-position: 5px 7px;
	padding: 16px 20px;
	padding-left: 40px;
	padding-right: 10px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	margin-left: 15px;
}

/**************************** Price *************************/

.price {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 518px;
	max-width: 1278px;
	margin: 0 auto;
	background-image: url(../img/about_backgroud1.png);
	margin-top: 40px;
}

.price_block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	width: 636px;
	height: 398px;
	background-color: #fff;
	border-radius: 20px;
}

.price_block_header h2 {
	font-family: 'Montserrat-SemiBold';
	font-size: 34px; /* 25px; */
	line-height: 1.4;
	text-transform: uppercase;
}

.price_block_text {
	height: 244px; /* 264px */
}

.price_block_text p {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	text-indent: 4%;
	/* letter-spacing: -0.25px;
	word-spacing: 10px; */
	line-height: 20px;
	text-align: justify;
	width: 480px;
}

.price_zakaz {
	height: 64px;
}

.price_zakaz a {
	font-family: 'Montserrat-Light';
	font-size: 12px;
	color: #fff;
	letter-spacing: 1.2px;
	text-align: right;
	background-color: #BC0034;
	background-image: url(../img/zakaz_btn.png);
	background-repeat: no-repeat;
	background-position: 5px 8px;
	padding: 16px 20px;
	padding-left: 47px;
	padding-right: 12px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	/* margin-top: 15px; */
}

/**************************** Languages *************************/

/* .languages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} */

.languages_block_header h2 {
	font-family: 'Montserrat-SemiBold';
	font-size: 34px;
	line-height: 1.4;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}

.languages_block_header p {
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	text-indent: 4%;
	/* letter-spacing: -0.25px;
	word-spacing: 10px; */
	line-height: 20px;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 10px;
}

.lang_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
}

.lang_card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 356px;
	height: 236px;
	border-radius: 20px;
	margin-left: 47px;
	margin-right: 47px;
	margin-top: 35px;
	margin-bottom: 35px;
	/* background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_london.jpg);
	background-position: 86px 0px, -254px -50px; (117)
	background-repeat: no-repeat; */
	box-shadow: 4px 4px 15px rgb(162, 149, 164);
}

.lang_card.en {
	background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_london.jpg);
	background-position: 86px 0px, -254px -50px; /* (117) */
	background-repeat: no-repeat;
}

.lang_card.de {
	background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_berlin.jpg);
	background-position: 86px 0px, -510px -70px; /* (117) */
	background-repeat: no-repeat;
}

.lang_card.fr {
	background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_paris.jpg);
	background-position: 52px -46px, -173px 0px; /* (117) */
	background-repeat: no-repeat;
	background-size: cover;
}

.lang_card.it {
	background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_rome.jpg);
	background-position: 52px -46px, -65px 0px; /* (117) */
	background-repeat: no-repeat;
	background-size: cover;
}

.lang_card.pl {
	background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_warsaw.png);
	background-position: 52px -46px, -117px -17px; /* (117) */
	background-repeat: no-repeat;
	background-size: cover;
}

.lang_card.ch {
	background-image: url(../img/lang_card_bg.svg), url(../img/lang_card_shanghai.webp);
	background-position: 52px -46px, -108px 0px; /* (117) */
	background-repeat: no-repeat;
	background-size: cover;
}

.lc_text {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.lc_text h3 {
	font-family: 'Montserrat-Light';
	font-size: 20px;
	line-height: 30px;
	width: 222px; /* 100px 170px */
	margin-left: 15px;
	/* margin-bottom: 10px; */
	text-align: center;
}

.lc_text p {
	font-family: 'Montserrat-SemiBold';
	font-size: 22px;
	line-height: 30px;
	width: 222px; /* 100px 170px */
	margin-left: 15px;
	/* margin-bottom: 10px; */
	text-align: center;
}

.lc_btn {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
}

.lc_btn a {
	font-family: 'Montserrat-Light';
	font-size: 12px;
	color: #fff;
	letter-spacing: 1.2px;
	text-align: right;
	background-color: #BC0034;
	background-image: url(../img/zakaz_btn.png);
	background-repeat: no-repeat;
	background-position: 5px 8px;
	padding: 18px 20px;
	padding-left: 40px;
	padding-right: 10px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	margin-right: 20px;
}

/**************************** Contacts *************************/

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 400px;
	max-width: 1278px;
	margin: 0 auto;
	background-color: #EDEDED;
	margin-top: 50px;
}

.contacts_block_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100px;
	/* margin-bottom: 30px; */
}

.contacts_block_header h2 {
	font-family: 'Montserrat-SemiBold';
	font-size: 34px;
	line-height: 1.4;
	text-transform: uppercase;
	text-align: center;
	/* margin-top: 50px; */
}

.address {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 300px;
	/* margin-bottom: 30px; */
}

.address p {
	font-family: 'Montserrat-Regular';
	font-size: 12px;
	line-height: 30px;
	width: 222px;
	margin-left: 15px;
	text-align: center;
}

/* .address_card {
	display: flex;
	flex-wrap: wrap;
	width: 118px;
	height: 200px;
	margin-left: 70px;
	margin-right: 70px;
} */

.address_bg {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 118px;
	height: 114px;
	border-radius: 20px;
	margin-left: 70px;
	margin-right: 70px;
	background-color: #2E428D;
	box-shadow: 4px 4px 15px rgb(162, 149, 164);
}

.address_bg.ad {
	background-image: url(../img/address.png);
	background-position: 27px 21px;
	background-repeat: no-repeat;
}

.address_bg.phone {
	background-image: url(../img/phone.png);
	background-position: 27px 21px;
	background-repeat: no-repeat;
}

.address_bg.email {
	background-image: url(../img/email.png);
	background-position: 27px 21px;
	background-repeat: no-repeat;
}

/**************************** id for nav *************************/

#about {
	height: 40px;
}

#price {
	height: 30px;
}

/*********************** Mobile and Laptop **********************/

@media (max-width: 990px) and (min-width: 481px) {

	.logo img {
		width: 100px !important;
        height: auto;
	}

	.p_header p {
		font-size: 17px;
	}

	.m_list {
		font-size: 12px;
	}

	.zakaz a {
		font-size: 10px;
		background-position: 7px 5px, 123px 9px;
		background-size: 23px, 9px; 
		padding: 12px 26px;
		padding-left: 34px;
		padding-right: 18px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
}